* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.mamae {
    display: flex;
    height: 70px;
    width: 100vW;
    justify-content: center;
    gap: 30px;
    
}

.content1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    height: 100px;
    width: 100px;
    font-size: larger;
}

.content1 img{
    height: 130px;
    width: 130px;
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content2 .acima{
    display: flex;
    gap: 20px;
}
.content2 .baixo{
display: flex;
gap: 25px;
justify-content: center;
color: rgb(73, 147, 207);
font-size: small;
}

.content3 {
display: flex;
align-items: center;
gap: 10px;
/* border: solid 5px red; */
}

.content3 input{
height: 40px;
width: 250px;
border: solid 3px rgb(73, 147, 207);
}

.content3 i{
font-size: 30px;
color: rgb(73, 147, 207);
}

.esposa {
width: 100vw;
height: 300px;
display: flex;
justify-content: center;
padding-top: 70px;
}

.esposa img{
    width: 1300px;
    height: 290px;
    border: solid 2px rgb(73, 147, 207);
}
.noiva{
width: 100vw;
border: solid 5px red;
height: 300px;
display: flex;
justify-content: space-around;
}

.frente{
    width: 230px;
    height: 60px;
    border: solid 1px blue;
    display: flex;
}

.icon1 i{
font-size: 25px;
color: rgb(73, 147, 207);

}

.titulo1 {
    font-size: larger;
    

}

.info1 {
    color: rgb(73, 147, 207);
}


.titulo2 {
    font-size: larger;

}

.info2 {
    color: rgb(73, 147, 207);
}

.titulo3 {
    font-size: larger;

}

.info3 {
    color: rgb(73, 147, 207);
}

.titulo4 {
    font-size: larger;

}

.info4 {
    color: rgb(73, 147, 207);
}

.meio1 {
width: 250px;
}

.frente {
display: flex;
flex-direction: column;
}